:host {
  display: block;
  border: 1px solid #ccc;
  padding: 20px;
  font-family: sans-serif;
}

p {
  margin-top: 0;
}

button {
  font: inherit;
  background-color: #ED003C;
  color: white;
  border: 0;
  height: 40px;
  padding: 0 20px;
}
