:host {
  font-family: sans-serif;
  display: block;
  outline: 1px solid #ccc;
  padding: 20px;
}

p {
  margin-top: 0;
}

button {
  font: inherit;
  background-color: #851e80;
  color: white;
  border: 0;
  height: 40px;
  padding: 0 20px;
}
